

 .login-bg{ 

  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




 .grey-bg{
	background-color:#eeeeee;
}

.title{
	font-size:3em;
	margin-top:1em;
	
}

.login input{
	width:85vw;
	height:6vh;

}

.login.row{
	margin-top: 1em;
	margin-bottom: 3em;
}

img{
	display: block;
	margin: auto;

}
.description{
	margin-left: 10px;
	height: 170px;
	width: 250px;
}
.profileTable, .home{
	margin: auto;
}



.login.row.low{
	margin-top:7em;	
	
}



/* h1{

	background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
 */



.btn{
	font-size:1.5em;
}

.list-group-item{
	font-size:1em;
	z-index:3;
	padding:12px 12px;
	
}

.list-group-item.top-item{
	font-weight: bold;
	font-size:1.5em;
	z-index:5;
}

.small_text{
	display:inline;
	font-size:0.9em;
	font-weight: light;
}

.list-delete{
	float:right;
	width:75px;
	height:30px;
	font-size:1.2em;
	padding-top:0px;
	margin-top:-3px;
}


li{
	background-color:#323232;
	
}

.navbar{
	height:5vh;
	font-size:4vh;
	z-index: 9999;
}

.navbar-inverse .navbar-brand{
	color:white;
}



.navbar-nav{
	margin-top:0px;	
	width:100vw;
}

.navbar-inverse{
	border-radius:0px;
}


.main{
	margin-top:50px;
}

.map{
	width:100vw;
	height:91vh;
	background: url(map.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.song-icon{
	height:5vh;
	width:auto;
}

#one{
	position:absolute;
	top:17vh;
	right:15vw;
}

/* track */
#two{
	position:absolute;
	top:77vh;
	right:60vw;
}

/* starbucks */
#three{
	position:absolute;
	top:22vh;
	right:90vw;
}


#gps{
	position:absolute;
	top:41vh;
	right:35vw;
	
}


#submit-tag{
	text-align:center;
	margin-left:auto;	
}


